rabbitmq:
  exchanges:
  ride_topic: topic
  driver_topic: topic
  location_fanout: fanout
  queues:
  driver_matching:
  binding_key: "ride.request.*"
  prefetch: 50
  driver_responses:
  binding_key: "driver.response.*"
  ride_status:
  binding_key: "ride.status.*"


timeouts:
  match_seconds: 120
  ws_ping_seconds: 30
  ws_auth_seconds: 5


location:
  min_interval_seconds: 3
